<%  text = @object_hash[:content]%>
<a class="table-button"><img  src="/images/play_button_small.png" alt="run tests"/></a>
<a class="table-button"><img src="/images/edit_small.png" alt="edit table"/></a>
<a class="table_button red-border" onclick="javascript: deleteElement('<%= @object_hash[:name] %>')">X</a>
<p>Fixture Class: <strong>mock_fixture</strong></p>
<table cellpadding="0" cellspacing="0">
    <thead>
        <tr>
            <% text[0].each do |cell|%>
            <% if cell != "" then %>
                <td><%= cell %></td>
            <% end %>
          <% end %>
        </tr>
    </thead>
    <% 1.upto(text.size - 1) do |i| %>
       <tr>
         <% cells = text[i]
            cells.each do |cell|%>
            <% if cell != "" then %>
                <td><%= cell %></td>
            <% end %>
          <% end %>
        </tr>
    <% end %>
 </table>
