.content{
    padding-top: 10px;
    padding-left: 10px;
    position:absolute;
    top: 200px;
    left: 290px;
    width: 70%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;

}

.hovering {
   border-width: 2px 2px 2px 2px;
   border-style: dashed;
   border-color: #909090;
   background: #ccffcc; 
}

.left{
   /*float: left;*/
   position: absolute;
   left: 10px;
   top: 200px;
   width: 275px;
   height: 100%;
   margin-left: 0px;
   margin-right: 0px;
   padding-top: 1em;
   border-width: 0px 2px 0px 0px;
   border-style: solid;
   border-color: #909090;
}

.table {
     height: auto;
     margin: 1px 10px 10px 2px;
     /*border: 1px solid #000000;*/
    padding-bottom: 1px;
}

.table table{
    margin: 10px 10px 10px 5px;
    width: 98%;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #000000;
}

.table table td{
    border-color: #000000;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    margin: 0px;
    padding: 5px;

}

.text {
    margin: 1em 1em 1em 2em;
    /*border: 1px solid #000000;*/

}

.white-text{
    color: #FFFFFF;
}

.white-border{
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #ffffff; 
}

.black-border{
   border-width: 2px 2px 2px 2px;
   border-style: solid;
   border-color: #000000;   
}

.yellow-border{
   border-width: 2px 2px 2px 2px;
   border-style: solid;
   border-color: #ffff00;
}

.red-border{
   border-width: 2px 2px 2px 2px;
   border-style: solid;
   border-color: #ff0000;
}

.insert_div{
    width: 40%;
    position: relative;
    left: 5%;
    top: 1%;
}

.insert_point{
    width: 100%;
    height: 25px;
}

.insert_list{
    display: inline;
    padding: 0 0 0 0;
}

.insert_list li{
    display: inline;
    list-style-type: none;
    text-align: center;
    margin-right: 10px;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #ccffcc;
}

.insert_list li p{
    display: inline;
    background: #ccffcc;
    text-align: center;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #ccffcc;
    padding: 2px 2px 2px 2px;
    font-family: "Verdana","Georgia","Helvittica";
    font-weight: bold;
    cursor: pointer;

}

.insert_list_item{
    
}

.container_style{
  border-width: 1px 1px 1px 1px;
    border-style: dashed;
    border-color: #666666;
    background: #ccffcc;
    margin-bottom: 10px;  
}

.container_style form{
   margin-left: 20px;
   font-size: small;
   margin-top: 10px;
}

.add_text_container{

    position: relative;
    left: 5%;
    top: 2%;
    width: 760px;
}

.cancel_text{

}

.add_header_container{
    position: relative;
    left: 5%;
    top: 1%;
    width: 760px;
 }

.cancel_header{
    
}



.table-button {
    display: inline;
    float:right;
    margin-right: 5px;
    margin-top: 4px;
}

.table thead td{
    background: #C0C0C0;
    font-weight: bold;
}

ul.nested{
    padding-top: 2.25em;
    margin-bottom: 5px;
    margin-left: 0px;
}

ul.nested li{
    width: auto;
    list-style-type:none;
}

ul.nested li a{
    color: #FFF;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #666666;
    width: auto;
}

.dark-green-background{
  background: #006666;  
}

ul.fixtures {
    margin: 0px 0px 0px 0px;
    float: left;
    padding-left: 0;
    display: block;
    width: 83%;
}

ul.fixtures, ul.fixtures li {
    list-style-type: none;
}

.draggable {
    cursor: move;
}

ul.fixtures li {
    /*float: left;*/
    display: block;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;

}

ul.fixtures li a{
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    color: #FFF;
    float:left;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    text-decoration: none;
    border-color: #666666;
    width: 100%;

}

.dark-blue-background{
    background: #759bb9; 
}

ul.fixtures a:hover {
    background: #ccffcc;
    color: #999999;
}

/*Selectors that are tied to specific ID's*/
div#menu {
    /*float: right;*/
    /*padding-top: 120px;*/
    position:relative;
    top: 80px;
    left: 50%;
    margin-top: 0px;
    width: 600px;
    background: #006666;
   
}

/* CSS for the navigation */
ul#nav, ul#nav li {
    list-style-type: none;
    display: inline;
}

ul#nav {
    /*margin-left: 5px;*/
    width: 100%;
    padding: 0px;
    margin: 0px;
}

ul#nav li {
    /*float: left;*/
    /*margin-right: 3px;*/
    text-align: center;
    /*padding: 5px 20px 20px 5px;*/
}

ul#nav a {
    width: auto;
    padding: 10px 20px 10px 20px;
    height: 10%;
    background: #E7F1F8;
    text-decoration: none;
    color: #666
}

ul#nav li a:hover, ul#nav li:hover a {
    /*background: #FFA826;*/
    /*color: #FFF*/
}


ul#nav li.activelink a, ul#nav li.activelink a:hover {
    background: #FFF;
    color: #003
}

#header{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 180px;
    background: #006666;
    margin-bottom: 20px;
}

#title{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    background:  #006666;
    width:400px;
    /*float: left;*/
}

#breadcrumb {
    width: 80%;
    float: left;
    margin-top: 50px;
}

#breadcrumb ul{
   list-style: none;
   margin-top: 0px;
   margin-left: 5px;
   display: inline;
   /*width: 600px;*/
   width: 100%;
   /*padding: 1em;*/
}

#breadcrumb li {
    float: left;
    /*margin-right: 3px;*/
    display: inline;
    text-align: center;
    color: #FFF;
    /*width: 7em;*/
}

#breadcrumb li a {
    color: #FFF;
    width: auto;
    padding: 1px;
    text-align: center;
    font-size: small;
}

#page_name_div{
   background: #FFA826;;
   width: 22%;
   margin-top: 5px;
   height: 10%;
   padding: 10px;
   z-index: 2;
   position:absolute;
    top: 160px;
    left: 50%;
}

#page_name_div form{
    padding: 10px 5px 2px 5px;
}




/*
ul.list a.last{
   padding: 5px 5px 5px 5px;
    background: #C0C0C0;
    color: #000;

    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #666666;

}
*/


