.content{
    padding-top: 1em;
    padding-left: 0px;
    position:absolute;
    top: 185px;
    left: 200px;
    width: 80%;
    height: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2em;

}

.left{
   float: left;
   width: 200px;
   height: 100%;
   margin-left: 0px;
   margin-right: 0px;
   padding-top: 1em;
   border-width: 0px 2px 0px 0px;
   border-style: solid;
   border-color: #909090;
}

.table {
     height: auto;
     margin: 1em 1em 1em 2em;
     /*border: 1px solid #000000;*/
    padding-bottom: 1em;
}

.table table{
    margin: 10px 2px 10px 5px;
    width: 98%;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #000000;
}

.table table td{
    border-color: #000000;
    border-width: 1px 0px 0px 1px;
    border-style: solid;
    margin: 0px;
    padding: 5px;

}

.text {
    margin: 1em 1em 1em 2em;
    /*border: 1px solid #000000;*/

}

.white-text{
    color: #FFFFFF;
}

.white-border{
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #ffffff; 
}

.black-border{
   border-width: 2px 2px 2px 2px;
   border-style: solid;
   border-color: #000000;   
}

.yellow-border{
   border-width: 2px 2px 2px 2px;
   border-style: solid;
   border-color: #ffff00;
}


.table-button {
    display: inline;
    float:right;
    margin-right: 5px;
    margin-top: 4px;
}

.table thead td{
    background: #C0C0C0;
    font-weight: bold;
}

ul.fixtures {
    margin: 0px 0px 0px 0px;
    float: left;
    padding-left: 0;
    display: block;
    width: 83%;
}

ul.fixtures, ul.fixtures li {
    list-style-type: none;
}

ul.fixtures li{
    /*float: left;*/
    display: block;
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;

}

ul.fixtures li a{
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
    background: #759bb9;
    color: #FFF;
    float:left;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    text-decoration: none;
    border-color: #666666;
    width: 100%;

}

ul.fixtures a:hover {
    background: #ccffcc;
    color: #999999;
}

/*Selectors that are tied to specific ID's*/
div#menu {
    float: right;
    /*padding-top: 120px;*/
    margin-top: 0px;
     width: 660px;
    background: #006666;
   
}

/* CSS for the navigation */
ul#nav, ul#nav li {
    list-style-type: none;
    margin: 0;
    padding: 0em 0em 1em 0em;
}

ul#nav {
    margin-left: 5px;
    width: 625px;
    padding: 1em;
}

ul#nav li {
    float: left;
    margin-right: 3px;
    text-align: center
}

ul#nav a {
    float: left;
    width: 7em;
    padding: 5px;
    background: #E7F1F8;
    text-decoration: none;
    color: #666
}

ul#nav a:hover {
    background: #FFA826;
    color: #FFF
}

ul#nav li.activelink a, ul#nav li.activelink a:hover {
    background: #FFF;
    color: #003
}

#header{
    width: 100%;
    height: 160px;
    background: #006666; 
}

#title{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 5px;
    background: #006666;
    width:13em;
    float: left;
}

#breadcrumb {
    width: 100%;
    float: left;
    margin-top: 50px;
}

#breadcrumb ul{
   list-style: none;
   margin-top: 0px;
   margin-left: 0px;
   /*width: 600px;*/
   width: 100%;
   /*padding: 1em;*/
}

#breadcrumb li {
    float: left;
    margin-right: 3px;
    text-align: center;
    color: #FFF;
    width: 7em;
}

#breadcrumb li a {
    color: #FFF;
    width: auto;
    padding: 5px;
    text-align: center;
}




/*
ul.list a.last{
   padding: 5px 5px 5px 5px;
    background: #C0C0C0;
    color: #000;

    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #666666;

}
*/


